# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# testing
/coverage

# production
/build
/.contracts

# misc
.DS_Store
env.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tmp/*


# code
*.code-workspace

# IDE
.idea
.vscode

.vercel
